# Ignore environment files
.env

# Frontend build artifacts
frontend/.next
frontend/node_modules
frontend/.env.local
.vercel

# Node modules
node_modules/
package-lock.json

# Logs
*.log
npm-debug.log*

